<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.js') %>
</head>

<body>
    <%- include('../includes/navigation.js') %>
    </header>

    <main>
        <h3>Reset your password</h3>
        <form class="login-form" action="/new-password" method="POST">

            <div class="form-control">
                <label for="imageUrl">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"></input>
            <input type="hidden" name="token" value="<%= token %>"></input>
            <button class="btn" type="submit">Update your password</button>
        </form>
    </main>
    <script src="/js/main.js"></script>
</body>