.product-form {
    width: 5rem;
    margin: auto;
}

.product-item {
    width: 50px;
    max-width: 100px !important
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}