<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.js') %>
</head>

<body>
    <%- include('../includes/navigation.js') %>
    </header>

    <main>
        <h3> Checkout </h3>
    </main>
    <script src="/js/main.js"></script>
</body>