<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.js') %>
</head>

<body>
    <%- include('../includes/navigation.js') %>
    </header>

    <main>
        <h3> Checkout </h3>
        <div class="centered ">
            <button id="order-btn" class="btn">GO TO PAYMENTS</button>
            <script src></script>
            <script>
                const stripe = Stripe('');
                const orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', () => {
                    stripe.redirectToCheckout({
                        sessionId: ''
                    })
                })
            </script>
        </div>
    </main>
    <script src="/js/main.js"></script>
</body>