<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.js') %>
</head>

<body>
    <%- include('../includes/navigation.js') %>
    </header>

    <main>
        <h3> This will be some details about our products </h3>
    </main>
</body>